apiVersion: v1
kind: PersistentVolume
metadata:
  name: bankapp-pv
  labels:
    app: bankapp
spec:
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: "/tmp/mysql-data"

